# Python
**/__pycache__/**
*.py[cod]
*$py.class
**/.venv/
**/.env

# Node.js
**/node_modules/
**/dist/
**/.svelte-kit/
**/.vercel/
**/build/

# Project Specific
backend/venv/
backend/.tmp_processing/
remotion/.tmp_processing/
remotion/out/
remotion/dist/
*.pt
*.bin
*.onnx

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

remotion/public/tmp/
